$nav-color: #820063;

body{
    background-color: $nav-color;
    font-size: 14px;
}
@media (min-width:993px) and (max-width:1200px){
    
}

@media (min-width:1201px){
    .swiper.container img{height:245px;width:70%;margin-top:58%}
.swiper .name{height:80px;line-height:80px;font-size:3.3rem;margin-top:20%}
.current-swiper,.nocurrent-swiper{width:300px;height:670px}
.current-swiper img,.nocurrent-swiper img{height:210px;width:70%;margin-top:64%}
.left-swiper{left:122px}
.right-swiper{right:122px}
.swiper-button-next,.swiper-button-prev{width:88px;height:88px;background-size:100%}
.split-line-left{position:absolute;width:3px;height:400px;left:420px;top:170px;background-color:#fff;box-shadow:0 -13px 2px 0 #820063 inset,0 13px 2px 0 #820063 inset}
.split-line-right{position:absolute;width:3px;height:400px;right:420px;top:170px;background-color:#fff;box-shadow:0 -13px 2px 0 #820063 inset,0 13px 2px 0 #820063 inset}
}