$nav-color: #820063;
article, aside, blockquote, body, button, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}
html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  font-size: 20px;
}

body{
  background-color: $nav-color;
}

.bg-color {
  background-color: $nav-color;
}
.tc {
  text-align: center;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.df {
  display: flex;
}
.hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.el-header{
  padding: 0;
}
.clearfix:after{
  content:".";
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}


@media (max-width: 320px) {
  .container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40%;
      font-size: 1rem;
    }
  }
  .pagination-btn-web {
    display: none;
  }
  .pagination-btn-mobile {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .container {
    width: 316px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40%;
      font-size: 1rem;
    }
  }
  .pagination-btn-web {
    display: none;
  }
  .pagination-btn-mobile {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width: 361px) and (max-width: 420px) {
  .container {
    width: 356px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40%;
      font-size: 1rem;
    }
  }
  .pagination-btn-web {
    display: none;
  }
  .pagination-btn-mobile {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width: 421px) and (max-width: 520px) {
  .container {
    width: 416px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40%;
      font-size: 1rem;
    }
  }
  .pagination-btn-web {
    display: none;
  }
  .pagination-btn-mobile {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width: 521px) and (max-width: 640px) {
  .container {
    width: 516px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40%;
      font-size: 1rem;
    }
  }
  .pagination-btn-web {
    display: none;
  }
  .pagination-btn-mobile {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .container {
    width: 636px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40%;
      font-size: 1rem;
    }
  }
  .pagination-btn-web {
    display: none;
  }
  .pagination-btn-mobile {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    width: 764px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination {
    img {
      width: 2rem;
      height: 2rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 20%;
      font-size: 1.2rem;
    }
  }
  .pagination-btn-web {
    width: 1.6rem;
    height: 1.6rem;
    margin: 200px 5px;
  }
  .pagination-btn-mobile {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    width: 988px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.6rem;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination-btn-web {
    width: 1.8rem;
    height: 1.8rem;
    margin: 200px 5px;
  }
  .pagination-btn-mobile {
    display: none;
  }
  .pagination {
    img {
      width: 2rem;
      height: 2rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 20%;
      font-size: 1.2rem;
    }
  }
  
}

@media (min-width: 1201px) {
  .container {
    width: 1196px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0;
  }
  .loading-content {
    text-align: center;
    padding-top: 200px;
    min-height: 400px;
  }
  .pagination-btn-web {
    width: 2rem;
    height: 2rem;
    margin: 200px 5px;
  }
  .pagination-btn-mobile {
    display: none;
  }
  .pagination {
    img {
      width: 2rem;
      height: 2rem;
    }
    > .pagination-container {
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 20%;
      font-size: 1.2rem;
    }
  }
}

// #swiper{
//     .container img{height:245px;width:70%;margin-top:58%;}
//     .name{height:80px;line-height:80px;font-size:3.5rem;margin-top:18%;}
//     .current-swiper,.nocurrent-swiper{width:300px;height:670px}
//     .current-swiper img,.nocurrent-swiper img{height:210px;width:70%;margin-top:64%}
//     .left-swiper{left:122px}
//     .right-swiper{right:122px}
//     .swiper-button-next,.swiper-button-prev{width:88px;height:88px;background-size:100%}
//     .split-line-left{position:absolute;width:3px;height:400px;left:420px;top:170px;background-color:#fff;box-shadow:0 -13px 2px 0 #820063 inset,0 13px 2px 0 #820063 inset}
//     .split-line-right{position:absolute;width:3px;height:400px;right:420px;top:170px;background-color:#fff;box-shadow:0 -13px 2px 0 #820063 inset,0 13px 2px 0 #820063 inset}
// }

// @media (min-width:768px){

// }

// @media (max-width:320px){

// }

// @media (min-width:321px) and (max-width:360px){

// }

// @media (min-width:361px) and (max-width:420px){

// }

// @media (min-width:421px) and (max-width:520px){

// }

// @media (min-width:521px) and (max-width:640px){

// }

// @media (min-width:641px) and (max-width:768px){

// }

// @media (min-width:769px) and (max-width:992px){

// }

// @media (min-width:993px) and (max-width:1200px){

// }

// @media (min-width:1201px){

// }